.Page {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #fafbfb;
  }
  .card1 {
    background-color: #fff;
    border-radius: 40px;
    box-shadow:  0 2px 4px rgba(0,0,0,0.07);
  }
  .row1 {
    padding: 35px;
  }
  .Left {
    padding-left: 60px;
  }
  .Leftside {
    display: flex;
    align-items: center;
  }
  .header {
    font-size: 40px;
    font-weight: 700;
    color: #999999;
    line-height: 1.2;
    padding-bottom: 10px;
  }
  .header1 {
    color: #000;
  }
  .backgroundImage {
    position: relative;
  }
  .image3{
    position: absolute;
    height: 100%;
    width: 38%;
    top:8%;
    left: 51%;
  }
  .image2
  {
    position: absolute;
    height: 100%;
    width: 56%;
    top: -10%;
    left: 15%;
}
.image4
{
    position: absolute;
    height: 100%;
    width: 56%;
    top: 25%;
    left: 20%;
}
  
  .button1 {
    color: #f0782d;
    background-color: #fff;
    padding: 10px 17px;
    border-radius: 8px;
    border: 1px solid #fff0d4;
    font-weight: 600;
  }
  @media screen and (max-width: 768px) {
    .row1 {
      padding: 20px !important;
    }
    .Left {
      padding-left: 0px;
    }
    .header {
      text-align: center;
    }
    .Page {
      padding: 0px !important;
    }
    .button1 {
      width: 100% !important;
      display: flex;
      justify-content: center;
    }
    .rightside {
      padding: 35px 0px 0px 0px !important;
    }
    .card1 {
      background-color: #fff;
      border-radius: 0px;
      box-shadow:none !important;
    }
    .header {
      font-size: 20px;
      font-weight: 700;
      color: #999999;
      line-height: 1.2;
      padding-bottom: 10px;
    }
  }